<a href="http://www.facebook.com/apps/application.php?id=128198663921787"><%= image_tag "logo_mini.png", :class => "logo-mini" %></a>
<ul>
  <div>
  <% index = 0 %>
  <% @friends.each do |f| %>
    <%= render :partial => 'friend', :locals => { :friend => f } %>
  <% end %>
  </div>
</ul>
