<a class="app_info_page" href="http://www.facebook.com/apps/application.php?id=<%= Facebook::APP_ID %>&sk=info">
  <%= image_tag "logo_mini.png", :class => "logo-mini" %>
</a>

<ul class="friends">
  <% index = 0 %>
  <% @friends.each do |f| %>
    <%= render :partial => 'friend', :locals => { :friend => f } %>
  <% end %>
</ul>
