<div class="welcome">
  <a class="app_info_page" href="http://www.facebook.com/apps/application.php?id=<%= Facebook::APP_ID %>&sk=info">
    <%= image_tag "logo_text.png" %>
  </a>
  <br/>
  <br/>
  <br/>
</div>

<script>
    FB.getLoginStatus(function(response) {
        if (response.session) { window.location.href = "<%= root_url %>"; } 
    });
</script>
