<div class="welcome">
  <a class="app_info_page" href="http://www.facebook.com/apps/application.php?id=<%= Facebook::APP_ID %>&sk=info">
    <%= image_tag "logo_text.png" %>
  </a>
  <br/>
  <br/>
  <br/>
  <%= link_to "Start using application", "", :id => :login, :class => "button" %>
</div>

<script>
  $().ready(function() {
    var el = document.getElementById("login");
    el.onclick = function() {
      FB.login(function(response) {
        if (response.session) {
          window.location.href = "<%= root_url %>";
        }
      });
      return false;
    };
  });
</script>
