<div class="welcome">
  <%= image_tag "logo_text.png" %>
  <br/>
  <br/>
  <br/>
  <%= link_to "Start using application", "", :id => :login, :class => "button" %>
</div>

<script>
  $().ready(function() {
    var el = document.getElementById("login");
    el.onclick = function() {
      FB.login(function(response) {
        if (response.session) {
          window.location.href = "<%= root_url %>";
        }
      });
      return false;
    };
  });
</script>
