.friend {
  float: left;
  width: 340px;
  margin: 10px 10px 20px;
  padding: 10px;
  background-color: #F2F2F2;

  .picture {
    float: left;
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  .name {
    font-weight: bold;
  }
  .balance {
    float: right;
    .label {
      font-size: 13px;
      font-weight: bold;
    }
    .value {
      font-size: 30px;
      font-weight: bold;
    }
  }

  table {
    width: 100%; 
    margin: 10px 0;
    border-collapse: collapse;
    tr:first-child { border-top: none } 
    tr { 
      border-top: 1px solid #F2F2F2; 
      &.debit {
        color: #a00;
        background-color: #fdd;
      }
      &.credit {
        color: #0a0;
        background-color: #dfd;
      }
    }
    td {
      padding: 0 5px;
      margin: 1px 0;
      height: 20px;
      line-height: 20px;

      a.delete {
        display: inline-block;
        position: relative;
        top: 1px;
        width: 11px;
        height: 11px; 
        text-indent: -9999px;
        background: url('/assets/destroy.png');
      } 
    }

    td:first-child {
      width: 20px;
      padding-right: 0;
    }
    
    td:last-child {
      text-align: right;
    }
  }

  form {
    display: none;

    label {
      font-size: 8px;
    }
    input {
      &[type=text]  {
        width: 330px;
      }
      &[name="debt[value]"] {
        float: left;
        width: 160px;
      }
      &[type=submit] {
        float: right;
        padding: 0 4px;
        margin: 0px 0px 0px 4px;
      }
    }
  }
}

